button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.__logout {
  color: #fff;
    font-weight: 500;
    background: #236b06;
    padding: 0 0.5rem;
    border-radius: 0.2rem;
    font-size: .9rem;
    border: none;
}